script(type='text/javascript', src='/adminlte/jQuery/dist/jquery.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/fastclick/lib/fastclick.js')

script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/adminlte/dist/js/adminlte.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/adminlte/dist/js/demo.js')
script.
    $(function () {
    $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' /* optional */
    });
    });